<div class="pagetitle">
    <h1>Form Layouts</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item active">Layouts</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-lg-12">



            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Citizen Data Management</h5>

                    <!-- Multi Columns Form -->
                    <form class="row g-3" action="/citizenupdatedata" method="post">
                        <div class="col-md-12">
                            <label for="inputName5" class="form-label">Citizen ID</label>
                            <input type="text" class="form-control" id="inputName5"
                                placeholder="Please fill your citizen id" name="cid" value="{{c.cid}}">
                        </div>
                        <div class="col-md-6">
                            <label for="inputEmail5" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="inputEmail5"
                                placeholder="Please fill your last name" name="lastname" value="{{c.lastname}}">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword5" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="inputPassword5"
                                placeholder="Please fill your first name" name="firstname" value="{{c.firstname}}">
                        </div>

                        <div class="col-md-4">
                            <label for="inputState" class="form-label">Gender</label>
                            <select id="inputState" class="form-select" name="gender">.
                                {% if c.gender == 'Female' %}
                                <option selected value="Female">Female</option>
                                <option value="Male">Male</option>
                                {% else %}
                                <option value="Female">Female</option>
                                <option selected value="Male">Male</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="inputCity" class="form-label">Election Center</label>
                            <input type="text" class="form-control" id="inputCity"
                                placeholder="Please fill your election center" name="electioncenter"
                                value="{{c.electioncenter}}">
                        </div>
                        <div class="col-md-4">
                            <label for="inputZip" class="form-label">Party</label>
                            <select id="inputState" class="form-select" name="party">
                                {% for p in partylist %}
                                {% if c.party==p.partyid %}
                                <option selected value="{{p.partyid}}">{{p.party}}</option>
                                {% else %}
                                <option value="{{p.partyid}}">{{p.party}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>

                        </div>
                        <div class="col-md-4">
                            <label for="inputZip" class="form-label">Date of Birth</label>
                            <input type="date" class="form-control" id="inputZip" value="{{c.dob}}" name="dob">
                        </div>
                        <div class="col-8">
                            <label for="inputAddress5" class="form-label">Place of Birth</label>
                            <input type="text" class="form-control" id="inputAddres5s"
                                placeholder="Please fill your place of birth" name="placeofbirth"
                                value="{{c.placeofbirth}}">
                        </div>
                        <div class="col-md-4">
                            <label for="inputCity" class="form-label">Position</label>
                            <input type="text" class="form-control" id="inputCity"
                                placeholder="Please fill your position" name="position" value="{{c.position}}">
                        </div>
                        <div class="col-md-4">
                            <label for="inputZip" class="form-label">Position in Party</label>
                            <input type="text" class="form-control" id="inputZip"
                                placeholder="Please fill your party position" name="partyposition"
                                value="{{c.partyposition}}">
                        </div>
                        <div class="col-md-4">
                            <label for="inputZip" class="form-label">Join Party Date</label>
                            <input type="date" class="form-control" id="inputZip" value="{{c.joinpartydate}}"
                                name="joinpartydate">
                        </div>
                        <div class="col-md-4">
                            <label for="inputZip" class="form-label">Nationality</label>
                            <input type="text" class="form-control" id="inputZip"
                                placeholder="Please fill your nationality" name="nationality" value="{{c.nationality}}">
                        </div>
                        <div class="col-md-4">
                            <label for="inputCity" class="form-label">Party Status</label>
                            <input type="text" class="form-control" id="inputCity"
                                placeholder="Please fill your party status" name="partystatus"
                                value="{{c.partystatus}}">
                        </div>
                        <div class="col-4">
                            <label for="inputCity" class="form-label">Do you have party card ?</label>
                            <div class="form-check">
                                {% if c.haspartycard == 1 %}
                                <input class="form-check-input" checked type="checkbox" id="gridCheck"
                                    name="haspartycard">
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="gridCheck" name="haspartycard">
                                {% endif %}
                                <label class="form-check-label" for="gridCheck">
                                    Yes, I have
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="inputCity" class="form-label">Education</label>
                            <input type="text" class="form-control" id="inputCity"
                                placeholder="Please fill your education" name="education" value="{{c.education}}">
                        </div>
                        <div class="col-md-3">
                            <label for="inputCity" class="form-label">Province</label>
                            <input type="text" class="form-control" id="inputCity" placeholder="Province here"
                                name="provinceid" value="{{c.provinceid}}">
                        </div>
                        <div class="col-md-3">
                            <label for="inputCity" class="form-label">District</label>
                            <input type="text" class="form-control" id="inputCity" placeholder="District here"
                                name="districtid" value="{{c.districtid}}">
                        </div>
                        <div class="col-md-3">
                            <label for="inputCity" class="form-label">Commune</label>
                            <input type="text" class="form-control" id="inputCity" placeholder="Commune here"
                                name="communeid" value="{{c.communeid}}">
                        </div>
                        <div class="col-md-3">
                            <label for="inputCity" class="form-label">Village</label>
                            <input type="text" class="form-control" id="inputCity" placeholder="Village here"
                                name="villageid" value="{{c.villageid}}">
                        </div>
                        <div class="col-md-12">
                            <label for="inputCity" class="form-label">Current Address</label>
                            <input type="text" class="form-control" id="inputCity"
                                placeholder="Please fill your current address" name="address" value="{{c.address}}">
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <button type="button" class="btn btn-secondary">Reset</button>
                        </div>
                    </form><!-- End Multi Columns Form -->

                </div>
            </div>

        </div>


    </div>
</section>